@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	margin: 0;
	overflow-y: scroll;
}

.content-width-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.content-width {
		width: 75%;
	}
}

main {
	padding: 50px 0 150px;
}

.card {
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 0 10px 10px #00000005;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], .input-style {
	padding: .3rem .5rem;
	font-size: 1rem;
	outline: none;
	border-radius: 5px;
	border: 1px solid #888;
	font-weight: 300;

	&.input-number_tiny {
		max-width: 50px;
	}
	&.input-number_short {
		width: 75px;
	}
	&.input-number_medium {
		width: 100px;
	}

	&:focus {
		border-color: #555;
	}
}
input[type="number"] {
	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
		-webkit-appearance: none;
		appearance: none;
	}
}

select {
	padding: .3rem .5rem;
	font-size: 1rem;
	outline: none;
	border-radius: 5px;
	border: 1px solid #888;
	font-weight: 300;
	cursor: pointer;
}

label {
	display: inline-block;
}

button, input[type="submit"], .button-style {
	background: #d34343;
	color: #fff;
	padding: .5rem 1rem;
	font-size: 1rem;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.15s;

	&:hover {
		background: #c83737;
	}
}

a, a:visited, .link-style {
	&:not(.no-link-style) {
		color: #127d9e;
		text-decoration: none;
		border-bottom: 1px solid #127d9e;
		cursor: pointer;
		transition: color 0.3s, border-color 0.3s;
		-o-transition: color 0.3s, border-color 0.3s;
		-moz-transition: color 0.3s, border-color 0.3s;
		-webkit-transition: color 0.3s, border-color 0.3s;
		display: inline-block !important;
	
		&:hover {
			color: #0c566d;
			border-color: #0c566d;
		}
		&.hover-emulation {
			color: #0c566d !important;
			border-color: #0c566d !important;
		}
		&.click-emulation {
			color: #083d4d !important;
			border-color: #083d4d !important;
		}
	}
	&.no-link-style {
		text-decoration: none;
	}
}